{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "consistent",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "printWidth": 130,
    "htmlWhitespaceSensitivity": "ignore",
    "singleAttributePerLine": false
}
